:root{
    --red:#e94336;
    --green:#02a150;
    --blue:#4283f2;
    --yellow:#f9bb09;
    --hh:70px;
    --dbr: 3px;
    --btn: #0095f6; //default button
    --btnt: #ffffff; //text on default button
    --ablu: #0095f6; //default button
    --header:#4283f2;
    --bg:#e1e1e1;
    --o:#ffffff;
    --ot:#262626;
    --ht:#ffffff;
    --pt:#777777;
    --eoh:#1f1f1f;
    --ol5:rgba(0,0,0,0.5);
    --i: #fafafa; //inputs
    --it: #8e8e8e; //text on input
    --ib:#dbdbdb; //input border
    --io: #a8a8a8; //input border focused
}
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.root *{
    display: flex;
    //max-width: 100%;
    &:not(.r){
        flex-direction: column;
    }
    &.r{
        flex-direction: row;
    }
    &.rr{
        flex-direction: row-reverse;
    }
    &.jc{
        justify-content: center;
    }
    &.je{
        justify-content: flex-end;
    }
    &.jsb{
        justify-content: space-between;
    }
    &.jse{
        justify-content: space-evenly;
    }
    // &.ase{
    //     align-items:space-evenly;
    // }
    &.jsa{
        justify-content: space-around;
    }
    &.ac{
        align-items: center;
    }
    &.as{
        align-items: stretch;
    }
    &.ae{
        align-items: flex-end;
    }
    &.fs0{
        flex-shrink: 0;
    }
    &.g25{
        gap: 25px;
    }
    &.cg5{
        column-gap: 5px;
    }
    &.cg10{
        column-gap: 10px;
    }
    &.cg15{
        column-gap: 15px;
    }
    &.cg20{
        column-gap: 20px;
    }
    &.cg25{
        column-gap: 25px;
    }
    &.rg15{
        row-gap: 15px;
    }
    &.fw{
        flex-wrap: wrap;
    }
    &.fwr{
        flex-wrap: wrap-reverse;
    }
    // &.jfs{
    //     justify-content: flex-start;
    // }
    // &.afs{
    //     align-items: flex-start;
    // }
    &.fg{
        flex-grow: 1;
    }
}
img.c{
    border-radius: 50%;
    object-fit: cover;
}
a:not(.df){
    color: inherit;
    text-decoration: none;
    user-select: none;
}
body{
    font-family: sans-serif;
    background-color: var(--bg);
    //font-size: 16px;
    position: relative;
    color:var(--ot);
}
body,body>div,body>div>header{
    overflow: hidden;
}
body>div>div{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - var(--hh));
}
.pb15{
    padding-block: 15px;
}
.pb35{
    padding-block: 35px;
}
.pi25{
    padding-inline: 25px;
}
.pb5{
    padding-block: 5px;
}
.p15{
    padding: 15px;
}
.p20{
    padding: 20px;
}
.p25{
    padding: 25px;
}
.pbs25{
    padding-block-start: 25px;
}
.pr{
    position: relative;
}
//=================================================================================================================
//=================================================================================================================
//=================================================================================================================
//=================================================================================================================
.ol{
    border:0;
    outline: 0;
    background-color: var(--ol5);
    position: fixed;
    inset-block: 0;
    z-index: 5;
    backdrop-filter: blur(3px);
    inset-inline: 0;
    //display: none;
    width: 0px;
    //opacity: 0;
    transition: width 400ms;
    &.active{
        display: flex;
        //opacity: 1;
        width: 100%;
    }
}
//=================================================================================================================
//=================================================================================================================
@media screen and (min-width:1024px) {
    // .pdiv>img{
    //     display: flex;
    // }
    header>div{
        *{
            height: 100%;
        }
        >div:nth-child(2){
            >nav{
                >a{
                    position: relative;
                    font-weight: 600;
                    &::after{
                        content: "";
                        height: 3px;
                        inset-block-end: 0;
                        inset-inline: 0;
                        position: absolute;
                        width: 0;
                        margin-inline: auto;
                        background-color: var(--ht);
                        transition: width 200ms;
                    }
                    justify-content: center;
                    padding-inline: 15px;
                    &:hover{
                        background-color: rgba(0,0,0,0.2);
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            >button{
                display: none;
            }
        }
    }
    .root .sec>div{
        min-width: 400px;
        &:first-child{
            padding: 35px 80px;
        }
    }
}
@media screen and (max-width:1023px) {
    header>div>div:nth-child(2){
        >nav.mnav{
            position: fixed;
            z-index: 6;
            inset-block-start: 0;
            inset-inline-start: -215px;
            //the extra 15 for the shadow; best way I think
            flex-direction: column;
            width: 200px;
            transition: inset-inline-start 300ms;
            background-color: var(--header);
            inset-block: 0;
            justify-content: flex-start;
            padding-block-start: 15px;
            box-shadow: 3px 0 5px rgba(0,0,0,0.5);
            >a{
                padding-block: 10px;
                font-weight: 600;
                width: 100%;
                justify-content: center;
                align-items: center;
                
            }
            &.active{
                inset-inline-start: 0;
            }
        }
        order: -1;
        // >nav{
        //     display: none;
        // }
    }
}
@media screen and (max-width:359px) {
    .logo_div>a>b{
        display: none;
    }
    .root .sec>div{
        min-width: 265px;
    }
}
////////////////////////////////////////////@at-root
/// 
.dbr{
    border-radius: var(--dbr);
}
a.blu{
    color: var(--ablu);
}
@media screen and (min-width:800px){
    .form_wrapper{
        background-color: var(--o);
        border:1px solid var(--ob);
    }
    .root .pdiv>img{
        display: flex;
    }
}
// @media screen and (max-width:500px){
//     .form_wrapper input:not([type="submit"]){
//         background-color: var(--o);
//     }
// }
input[type="text"],input[type="password"],input[type="email"],input[type="username"],input[type="tel"],input[type="number"]{
    width: 100%;
    height: 36px;
    border:1px solid var(--ib);
    background-color: var(--i);
    color: var(--it);
    border-radius: var(--dbr);
    padding-inline: 15px;
    font-size: 16px;
}
input[type="text"]:focus-visible,input[type="tel"]:focus-visible,input[type="password"]:focus-visible,input[type="email"]:focus-visible,input[type="username"]:focus-visible,input[type="number"]:focus-visible{
    outline: 0;
    border-color: var(--io);
}
.root .btn{
    background-color: var(--btn);
    color: var(--btnt);
    height: 36px;
    padding-inline: 15px;
    width: 100%;
    border: 0;
    border-radius: var(--dbr);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    &:hover{
        opacity: .8;
    }
}
.h{
    display: none;
}
.mbs30{
    margin-block-start: 30px;
}
.team_cards>div{
    background-color: var(--o);
    border-radius: 4px;
    padding: 10px;
    width: 40%;
    overflow: hidden;
    p{
        color:var(--pt);
    }
  }
/// 
/// /////////////////////////////////////////////@at-root
.numid{//number input default class which hides arrows
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
// .numid::-webkit-inner-spin-button,
// .numid::-webkit-outer-spin-button {
//     -webkit-appearance: none;
// }
button{
    cursor: pointer;
}
button.none{
    background-color: transparent;
    border:0;
    outline: 0;
}
header{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    z-index: 4;
    >div{
        background-color: var(--header);
        height: var(--hh);
        color: var(--ht);
        >div{
            // >nav{
            //     >a{
            //         position: relative;
            //         font-weight: 600;
            //         &::after{
            //             content: "";
            //             height: 3px;
            //             inset-block-end: 0;
            //             inset-inline: 0;
            //             position: absolute;
            //             width: 0;
            //             margin-inline: auto;
            //             background-color: var(--ht);
            //             transition: width 200ms;
            //         }
            //         justify-content: center;
            //         padding-inline: 15px;
            //         &:hover{
            //             background-color: rgba(0,0,0,0.2);
            //             &::after{
            //                 width: 100%;
            //             }
            //         }
            //     }
            // }
            >button.mode{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                padding: 5px;
                transition: background-color 300ms;
                &:hover{
                    background-color: var(--eoh);
                }
            }
        }
    }
}
.logo_div{
    >a{
        font-weight: 900;
        font-size: 1.3rem;
        >img{
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            padding: 5px;
        }
    }
}
.catmenu{
    width: 36px;
    height: 36px;
    &::after,&::before,>i{
        content: "";
        height: 4px;
        width: 100%;
        position: absolute;
        background-color: var(--ht);
        border-radius: 3px;
    }
    &::after{
        top:10%;
    }
    &::before{
        bottom:10%;
    }
    >i{
        top:16px;
    }
}
// .sec{
//     h1{
//         font-size: calc(1.8rem + .5vw);
//     }
//     p{
//         font-size: calc(1rem + .1vw);
//     }
//     //height: 550px;
//     min-height: max-content;
//     >div{
//         flex-grow: 1;
//         min-width: 400px;
//         >img{
//             object-fit: contain;
//             object-position: bottom right;
//         }
//         &:first-child{
//             width: 55%;
//             align-items: center;
//             justify-content: center;
//             row-gap: 25px;
//             padding: 35px 20px;
//             max-width: 1200px;
//         }
//         &:last-child{
//             width: 45%;
//             max-width: 900px;
//             >img{
//                 max-height: 500px;
//             }
//         }
//     }
// }
// .gsec{
//     background-color: var(--green);
//     color: var(--ht);
// }
// .bsec{
//     background-color: var(--blue);
//     color: var(--ht);
//     .wbtn{
//         color: var(--blue);
//     }
// }
// .wbtn{
//     background-color: #fff;
//     border-radius: 4px;
//     padding: 10px 15px;
//     font-weight: 600;
//     transition: opacity 200ms;
//     &:hover{
//         opacity: .8;
//     }
// }
// .team_cards>div{
//     background-color: var(--o);
//     border-radius: 4px;
//     overflow: hidden;
//     h4{
//         color:var(--pt);
//     }
//     >div:first-child{
//         row-gap: 10px;
//         >img{
//             border-radius: 50%;
//             padding: 15px
//         }
//     }
//     >div:last-child{
//         padding-block-start: 20px;
//         padding-block-end: 10px;
//         >a:hover{
//             background-color: var(--ot);
//             background: radial-gradient(var(--ot),var(--ot),var(--ot),transparent,transparent);
//             border-radius: 50%;
//             border: 0;
//         }
//     }
//   }
.users_circles{
    gap:1rem;
}
section{
    background-color: var(--o);
    &.mysec{
        border-bottom: 1px solid var(--i);
        padding: 1.5rem 3rem;
        >div{
            display: grid;
            padding: unset;
            grid-template-areas: 
            'h1 img'
            'p img'
            'a img';
            // >:nth-child(1){
            //     white-space: nowrap;
            // }
            >:nth-child(3){
                // flex-wrap: nowrap;
                >a{
                    max-width: 250px;
                }
            }
            >:nth-child(4){
                align-items: flex-end;
                >img{
                    min-height: 100%;
                }
            }
            >h1{
                grid-area: h1;
            }
            >div:nth-child(4){
                grid-area: img;
            }
            >p{
                grid-area: p;
            }
            >div:nth-child(3){
                grid-area: a;
            }

        }

            >div{
                >:nth-child(4){
                    >img{
                        border-radius: 50%;
                        aspect-ratio:1/1;
                    }
                }
            }
    }
    &.mysec_3c{
        padding: 1rem 3rem;
        >div{
            >div{
                flex-direction: row;
            }
        }
    }
}
.root .branches{
    padding: 4rem 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.5rem;
    >div{
        background-color: var(--o);
        border-radius: var(--dbr);
        padding: .7rem;
        display: grid;
        grid-template-areas: 'icon h4' 
        'h51 h51' 
        'h52 h52' 
        'h53 h53';
        align-items: center;
        gap: .5rem;
        >img{
            grid-area: icon;
        }
        >h4{
            grid-area: h4;
        }
        >h5{
            &:nth-child(3){
                grid-area: h51;
            }
            &:nth-child(4){
                grid-area: h52;
            }
            &:nth-child(5){
                grid-area: h53;
            }
        }
    }
}